[submodule "vendor/SDL2"]
	path = vendor/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/cppvec"]
	path = vendor/cppvec
	url = git@github.com:Corporate-Pigs/cppvec.git
[submodule "vendor/SDL2_ttf"]
	path = vendor/SDL2_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = SDL2
[submodule "vendor/SDL2_image"]
	path = vendor/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
[submodule "vendor/SDL2_mixer"]
	path = vendor/SDL2_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = SDL2
[submodule "vendor/SMT"]
	path = vendor/SMT
	url = git@github.com:nflsilva/simple-media-toolkit.git
	branch = develop
